#counterimg {
    position: relative;
    /* width: 1440px;*/
    height: 267px;
    left: 0px;
    /* top: 1141px; */
    background-image: url('../images/Rectangle\ 8.png');
    /* opacity: 70%; */
    justify-content: center;
    background-color: #303983;
    /* color: white; */
}


/* #counter {
    border: 10px;
    border-color: black;
} */