* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-bottom {
    position: relative;
    /* width: 1440px; */
    height: 84px;
    left: 0px;
    top: 4303px;
    background: #c4c4c4;
}


/* © NSS CSVTU 2021. All Rights Reserved. */

.footer-content {
    position: absolute;
    width: 444.98px;
    margin: 15px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #565555;
}


/* Terms of Service */

.footer-bottom p:nth-child(3) {
    position: absolute;
    width: 137.78px;
    margin: 15px 10px;
    /* height: 21px; */
    left: 1385px;
    /* top: 4335px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #565555;
}


/* 
Privay Policy */

.footer-bottom p:nth-child(2) {
    position: absolute;
    width: 137.78px;
    left: 1190px;
    margin: 15px 10px;
    /* height: 21px;
    top: 4335px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #565555;
}


/* Rectangle 37 */

.footer-top {
    display: flex;
    background: #c4c4c4;
    flex-direction: row;
    /* left: 350px; */
    top: 4000px;
    left: 0px;
    top: 4303px;
    left: 0px;
    background: #e5e5e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-top img {
    /* position: relative; */
    /* width: 276px; */
    margin: 0px;
    /* background-color: #565555; */
    /* left: 350px;
            top: 4000px; */
    /* background: url(); */
}